{% extends "base.html.twig" %}

{% block title %}
    Recette Créole - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="jumbotron">
  <h1 class="display-4">Bienvenue sur Recette Créole</h1>
  <p class="lead">Recette créole est une application qui va te permettre de créer et consulter des recettes créole. Tu pourras les partager créer ta liste de favoris et de les noter</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
    </div>
        
{% endblock %}
  